html, body{
    height:100%;
}

p {
    font-family: "Inter";
}

.white_text {
    color: white;
}

.horiz_line {
    height: 2px; 
    width: 65%; 
    margin: 0 auto;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 30px;
}