html, body{
    height:100%;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Inter";
}

.search_section {
    margin-top: 10%;
}

.heading {
    font-weight: 700;
}

.white-text {
    color: white;
}

.react_link {
    text-decoration: none;
}

.ingredients_pane {
    background-color:#287f41;
}

.ingredients_search {
    background-color:#7DE081;
    background-image: url("../../public/static/images/ingredients_art.png");
}

.horiz_line {
    height: 2px; 
    width: 65%; 
    margin: 0 auto;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ingredient {
    max-height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.search-bar-container {
    max-width: 1000px; 
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 2001;
}

#gen-button {
    position: absolute;
    top: 0;
    right: -150px;
    height: 46;
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    padding: 10px 15px;
    white-space: nowrap; 
    margin-left: 10px;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #e3e3e3;
    --bs-btn-active-bg: #e3e3e3;

    background-color: #458D59; 
    color: white;
    border: none;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#gen-button:hover {
    background-color: #45a049; 
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

#change-button {
    position:absolute;
    bottom:0;
    right:80;
    margin-bottom: 5%;
    margin-left: 3%;
    width: 18%;
    /* height: 8%; */
    height: 46;
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #e3e3e3;
    --bs-btn-active-bg: #e3e3e3;
}
#change-button:hover {
    background-color: #f8f9fa; 
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

#expand-button {
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom: 1%;
    margin-left: 3%;
    width: 18%;
    height: 20%;
    font-family: "Inter";
    font-weight: 600;
    font-size: 12px;
    padding: 0px;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #e3e3e3;
    --bs-btn-active-bg: #e3e3e3;
}

#expandable {
    font-size: 0.9em; 
    text-decoration: underline;
}

.recipe_number {
    text-decoration: bold;
}

#prep-time {
    width: 60%;
    float: right;
}

.cuisine_select {
    font-size: 10pt;
}
