.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.25s ease;
}

.slide li {padding : 30px;}

.customise-button {
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

.preference-list-text {
  text-align: left;
}

.preference-options {
  text-align: right;
}

.serving-size-box {
  display: inline-block;
  width: 40px;
  height: 100%;
  line-height: 30px;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
}

#touch {position: absolute; height: 0px; }    

#touch:checked + .slide {height: 200px;} 

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  padding-left: 5px;
  max-height: 200px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dropdown-content::-webkit-scrollbar {
  display: none;
}

.dropdown-content label {
  display: block;
  margin-top: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
};

.customise_labels {
  display: inline-block;
  vertical-align: middle;
}